<div class="input-password-container">
  <h3>Solution 1</h3>
  <label for="password">Password</label>
  <input
    id="password"
    type="text"
    class="form-control passwordValue"
    (input)="passwordStrengthValidator($event)"
  />

  <div class="conditions-container">
    <div
      class="passwordCondition"
      [ngClass]="{
        resultsEmpty: passwordStrength === 'EMPTY',
        'bg-danger': passwordStrength === 'NOT_APPLICABLE',
        passwordEasy: passwordStrength === 'EASY',
        'bg-success': passwordStrength === 'STRONG',
        resultMedium: passwordStrength === 'MEDIUM',
        resultStrong: passwordStrength === 'STRONG',

      }"
    >
      1. Only letters/digits/symbols - the password is easy;
    </div>
    <div
      class="passwordCondition"
      [ngClass]="{
        resultsEmpty: passwordStrength === 'EMPTY',
        'bg-danger': passwordStrength === 'NOT_APPLICABLE',
        resultsEasy: passwordStrength === 'EASY',
        resultMedium: passwordStrength === 'MEDIUM',
        resultStrong: passwordStrength === 'STRONG',
      }"
    >
      2. Combination of letters-symbols/letters-digits/digits-symbols - the
      password is medium;
    </div>
    <div
      class="passwordCondition"
      [ngClass]="{
        resultsEmpty: passwordStrength === 'EMPTY',
        'bg-danger': passwordStrength === 'NOT_APPLICABLE',
        resultsEasy: passwordStrength === 'EASY',
        resultMediumUnique: passwordStrength === 'MEDIUM',
        resultStrong: passwordStrength === 'STRONG',

      }"
    >
      3. Has letters, symbols and numbers - the password is strong;
    </div>
  </div>
</div>
