<div class="container-solution">
  <div class="row">
    <h3 class="text-info">Solution</h3>
    <form [formGroup]="signupForm">
      <div class="">
        <label for="password">Password</label>
        <input
          type="text"
          id="password"
          class="form-control password-input"
          formControlName="password"
        />
      </div>
      <app-passstrenghdetails
        *ngIf="passwordFormField?.dirty"
        [passwordStrength]="passwordStrength"
      ></app-passstrenghdetails>
    </form>
  </div>
</div>
